<h2>add cocktail here</h2>


<br>
<br>


<div class="row">
    <form class="col s12">


<!-- _____________________________ -->
<!-- DRINK NAME -->
        <div class="input-field col s9">
          <input ng-model="newCocktail.cocktail" placeholder="ex: Manhattan" id="drink_name" type="text" class="validate">
          <label for="drink_name">DRINK NAME</label>
        </div>
<!-- _________________________________________ -->

<br>
<br>
<br>
<br>
<br>
<br>

<!-- ______________________________ -->
<!-- INGREDIENT TITLE -->
    <div class="row">
      <div class="col s12">

			        <div class="inline input-field">
			          <input ng-model="newCocktail.ingredients.ingredient" placeholder="ex: Dickle" id="ingredient" type="text" class="validate">
								<label for="ingredient">INGREDIENT</label>
			        </div>




<!-- SPEC ONE -->
			        <div class="inline input-field">
			          <input ng-model="newCocktail.ingredients.measurement1" placeholder="ex: 1" id="ingredient" type="text" class="validate">
			          <label for="specOne">SPEC ONE</label>
			        </div>

<!-- version two: drop downs:
							<div class="input-field inline">
							    <select name="singleSelect" ng-model="newCocktail.ingredients.measurement1">

							      <option value="0" selected>0</option>
							      <option value="1">1</option>
							      <option value="2">2</option>
							      <option value="3">3</option>
							      <option value="4">4</option>
							      <option value="5">5</option>
							      <option value="6">6</option>
							    </select>
							    <label>test</label>
							  </div>-->


<!-- _____________________________ -->
<!-- SPEC TWO -->


			        <div class="inline input-field">
			          <input ng-model="newCocktail.ingredients.measurement2" placeholder="ex: 1/4" id="ingredient" type="text" class="validate">
			          <label for="specThree">SPEC TWO</label>
			        </div>




<!-- ____________________________________________ -->
<!-- SPECS THREE -->

		        	<div class="inline input-field">
			          <input ng-model="newCocktail.ingredients.specs" placeholder="ex: OZ/Drops" id="ingredient" type="text" class="validate">
								<label for="specThree">SPEC THREE</label>
			        </div>

			</div>
		</div>
<!-- _____________________________________ -->



<!-- ___________________________ -->
<!-- ADD INGREDIENT  -->


        <div class="col s12">
          ADD INGREDIENT (available in version 2):
          <div class="input-field inline">

						<a ng-click="newIngredient()" class="btn-floating btn-large waves-effect waves-light red">

							<i class="material-icons">add</i>
						</a>
					</div>
				</div>


<br>
<br>
<br>

<!-- _________________________________ -->
<!-- GLASS OPTION -->

      	<div class="inline input-field">
          <input ng-model="newCocktail.glass" placeholder="ex: Collins" id="glass" type="text" class="validate">
         <label for="glass">GLASS</label>
        </div>



<!-- _________________________________ -->
<!-- DIRECTIONS -->

			  <div class="row">
			    <form class="col s9">
			      <div class="row">
			        <div class="input-field col s9">
			          <textarea ng-model="newCocktail.recipe" id="textarea1" class="materialize-textarea"></textarea>
			          <label for="textarea1">RECIPE</label>
			        </div>
			      </div>
			    </form>
			  </div>


<!-- ____________________________ -->


			  <div class="row">
			    <form class="col s9">
						<img src="http://cdn.liquor.com/wp-content/uploads/2010/08/c-and-b-old-fashioned1.jpg" id="upload-placeholder-img">
<br>

						<input type="file" name="photo" id="fileInput">
					</form>
				</div>

<br>
<br>
<br>

<!-- ______________________________ -->
<!-- SUBMIT BUTTON -->

			  <div class="row">
			    <div class="col s9">
   					<a class="waves-effect waves-light btn" value="add cocktail" ng-click="addCocktail()">Add Cocktail</a>
   				</div>
   			</div>



	</form>
</div>


